{name, "misultin"}.
{description, "An Erlang library for building fast lightweight HTTP servers"}.
{url, {git, "https://github.com/ostinelli/misultin.git","HEAD"}}.
{homepage, "http://code.google.com/p/misultin/"}.
{rebar_compatible, true}.
{applications, [misultin]}.
{authors, ["Roberto Ostinelli <roberto@ostinelli.net>"]}.
{license, "BSD"}.
